@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("Inter-Thin.woff2?v=3.19") format("woff2"),
         url("Inter-Thin.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    font-display: swap;
    src: url("Inter-ThinItalic.woff2?v=3.19") format("woff2"),
         url("Inter-ThinItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("Inter-ExtraLight.woff2?v=3.19") format("woff2"),
         url("Inter-ExtraLight.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    font-display: swap;
    src: url("Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
         url("Inter-ExtraLightItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("Inter-Light.woff2?v=3.19") format("woff2"),
         url("Inter-Light.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url("Inter-LightItalic.woff2?v=3.19") format("woff2"),
         url("Inter-LightItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
         url("Inter-Regular.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("Inter-Italic.woff2?v=3.19") format("woff2"),
         url("Inter-Italic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("Inter-Medium.woff2?v=3.19") format("woff2"),
         url("Inter-Medium.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url("Inter-MediumItalic.woff2?v=3.19") format("woff2"),
         url("Inter-MediumItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("Inter-SemiBold.woff2?v=3.19") format("woff2"),
         url("Inter-SemiBold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url("Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
         url("Inter-SemiBoldItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("Inter-Bold.woff2?v=3.19") format("woff2"),
         url("Inter-Bold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("Inter-BoldItalic.woff2?v=3.19") format("woff2"),
         url("Inter-BoldItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("Inter-ExtraBold.woff2?v=3.19") format("woff2"),
         url("Inter-ExtraBold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 800;
    font-display: swap;
    src: url("Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
         url("Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("Inter-Black.woff2?v=3.19") format("woff2"),
         url("Inter-Black.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    font-display: swap;
    src: url("Inter-BlackItalic.woff2?v=3.19") format("woff2"),
         url("Inter-BlackItalic.woff?v=3.19") format("woff");
  }
  
  
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("Inter-roman.var.woff2?v=3.19") format("woff2");
  }
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("Inter-italic.var.woff2?v=3.19") format("woff2");
  }
  
  



   

.root{
    background-color:#2A2C2F;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Inter", "Arial", sans-serif;
    margin: 0;
    padding: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-self: center;
    max-width: 1280px;
    /* max-width: calc(1184px + 96px); */
    padding: 28px 48px 0px 48px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.header__logo{
    min-height: 42px;
    min-width: 142px;
    max-height: 52px;
    max-width: 176px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    
}

.header__links{
display: flex;
flex-direction: row;
align-items: flex-end;
column-gap:18px;

}

.header__lang-link{
color: #FFFFFF;
max-width: 30px;
max-height: 28px;
text-decoration: none;
font-size: 24px;
line-height: 1.16;
font-weight: 400;
text-align: right;
margin-bottom: 5px; /*6px to Maket, 5px - fact*/
margin-top: 18px;
}

.header__lang-link:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

@media all and (min-width:1024px) and (max-width:1279px) {
    .header{ 
      max-width: 1024px;
    /* min-width: calc(928px + 96px); */
    width: 100%;
    }
}

@media all and (min-width:768px) and (max-width:1023px){
    .header{ 
      max-width: 768px;
        /* max-width: (720px + 96px); */
        width: 100%;
        padding: 28px 24px 0px 24px;
    }


}

@media all and (min-width: 320px) and (max-width:767px){
    .header { 
      min-width: 320px;
        /* max-width: (288px + 32px); */
        min-height: 42px;
        width: 100%;
        padding: 16px 16px 0px 16px;
        box-sizing: border-box;
    }

    .header__lang-link {
    min-width: 22px;
    min-height: 20px;
    font-size: 18px;
    line-height: 1.11;
    font-weight: 400;
    text-align: right;
    margin-bottom: 8px;
    margin-top: 14px;
    }

    .header__logo{
        max-height: 42px;
        max-width: 142px;
    }

}



.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin:0px;
    /* box-sizing: border-box; */
}


.lead{
    max-width: 984px;
    max-height: 1005px;
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 56px 148px 0px 148px; 
  
    color: #FFFFFF;
}

.lead__title{
   
    max-height: 200px;
    max-width: 720px;
    margin: auto;

    font-size: 96px;
    font-weight: 900;
    line-height: 1.04;
    text-align: center;

}

.lead__subtitle{
    max-height: 72px;
    max-width: 640px;
    margin: 32px auto 0px;

    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align:center;
  
}



.lead__image{
    margin: 64px auto 0px;
    max-width: 984px;
    width: 100%;

}

.lead__caption{
    font-weight: 400;
    font-size: 10px;  
    line-height: 1.4;
    letter-spacing: 1.5px;
    margin-top: 8px;
    margin-bottom: 0px;
    text-transform:uppercase;
} 

@media all and (min-width:1024px) and (max-width:1279px) {
    .lead{
    max-width: 928px;
    /* max-height: 962px; */
    padding: 48px 48px 0px 48px;
    }

    .lead__image{
        margin: 56px auto 0px;
        max-width: 984px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .lead{
    max-width: 768px;
    padding: 48px 0px 0px 0px;
  }

  .lead__image{
    margin: 56px auto 0px;
    max-width: 768px;
}

.lead__caption{
  padding-left: 24px;
}
}

@media screen and (min-width:320px) and (max-width:767px){
  .lead{
    min-width: 320px;
    padding: 48px 0px 0px 0px;
  }
  .lead__title{
    max-width: 288px;
    margin: auto;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
    text-align: center;
  }

  .lead__subtitle{
   
    max-width: 288px;
    margin: 16px auto 0px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align:center;
  }

  .lead__image{
    margin: 40px auto 0px;
    min-width: 320px;
  }
  
.lead__caption{
  padding-left: 16px;
}
}




.intro{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 1280px;
  width: 100%;
  color:#FFFFFF;
  padding-left: 148px;
  box-sizing: border-box;
  /* max-width: 690px; */
}

.intro__title{

  font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin:0px;
    margin-top: 92px;
}

.intro__text{
max-width: 690px;
font-size: 16px;
line-height: 1.63;
margin: 40px 0px 0px 0px;
}

.intro__list{
  padding-left: 0px;
  margin: 33px 0px 0px 0px;
  list-style: none;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
}

@media screen and (min-width:1024px) and (max-width:1279px){
.intro{
  max-width: 1024px;
  padding-left: 48px;
  width: 100%;
}
}

@media screen and (min-width:768px) and (max-width:1023px){
  .intro{
    max-width: 768px;
    padding-left: 24px;
    width: 100%;
  }

  .intro__title{
      margin-top: 88px;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro{
    max-width: 320px;
    padding:0;
    width: 100%;
  }

  .intro__title{

    font-weight: 900;
      font-size: 32px;
      line-height: 1.09;
      margin:0px;
      margin-top: 64px;
      padding-left: 16px;
      padding-right: 16px;
      text-align: left;
  }

  .intro__text{
    max-width: 520px;
    font-size: 16px;
    line-height: 1.63;
    margin: 40px 0px 0px 0px;
    padding-left: 16px;
    padding-right: 16px;
    }

    .intro__list{
      padding-left: 0px;
      margin: 34px 0px 0px 0px;
      list-style: none;
      font-size: 12px;
      line-height: 1.5;
      font-weight: 400;
      padding-left: 16px;
      padding-right: 16px;
    }




}