
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
         url("Inter-Regular.woff?v=3.19") format("woff");
  }

  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("Inter-Black.woff2?v=3.19") format("woff2"),
         url("Inter-Black.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    font-display: swap;
    src: url("Inter-BlackItalic.woff2?v=3.19") format("woff2"),
         url("Inter-BlackItalic.woff?v=3.19") format("woff");
  }
  


.root{
    background-color:#2A2C2F;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family: "Inter", "Arial", sans-serif;
    margin: 0;
    padding: 0 auto;
    overflow: auto;
}

/* .header{
    display: flex;
    justify-content: space-between;
    align-self: center;
    max-width: 1280px;
   
    padding: 28px 48px 0px 48px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
} */

.header{
  display: flex;
  justify-content: space-between;
  align-self: center;
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__logo{
    min-height: 42px;
    min-width: 142px;
    max-height: 52px;
    max-width: 176px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    margin-top: 28px;
    
}

.header__links{
display: flex;
flex-direction: row;
align-items: flex-end;
column-gap:18px;
margin-top: 28px;

}

.header__lang-link{
color: #FFFFFF;
max-width: 30px;
max-height: 28px;
text-decoration: none;
font-size: 24px;
line-height: 1.16;
font-weight: 400;
text-align: right;
margin-bottom: 5px; /*6px to Maket, 5px - fact*/
margin-top: 18px;
}

.header__lang-link:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

@media all and (min-width:1024px) and (max-width:1279px) {
    .header{ 
      max-width: 928px;
    /* min-width: calc(928px + 96px); */
    width: 100%;
    }
}

@media all and (min-width:768px) and (max-width:1023px){
    .header{ 
      max-width: 720px;
        /* max-width: (720px + 96px); */
        width: 100%;
        /* padding: 28px 24px 0px 24px; */
    }
}

@media all and (min-width: 320px) and (max-width:767px){
    .header { 
      max-width: 288px;
        /* max-width: (288px + 32px); */
        min-height: 42px;
        width: 100%;
        /* padding: 16px 16px 0px 16px; */
        box-sizing: border-box;
    }

    .header__lang-link {
    min-width: 22px;
    min-height: 20px;
    font-size: 18px;
    line-height: 1.11;
    font-weight: 400;
    text-align: right;
    margin-bottom: 8px;
    margin-top: 14px;
    }

    .header__logo{
        max-height: 42px;
        max-width: 142px;
        margin-top: 16px;
    }

.header__links{
  margin-top: 16px;
}

}



.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin:0px;
  
}


.lead{
    max-width: 984px;
    max-height: 1005px;
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 56px 148px 0px 148px; 
  
    color: #FFFFFF;
}

.lead__title{
   
    max-height: 200px;
    max-width: 720px;
    margin: auto;

    font-size: 96px;
    font-weight: 900;
    line-height: 1.04;
    text-align: center;

}

.lead__subtitle{
    max-height: 72px;
    max-width: 640px;
    margin: 32px auto 0px;

    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align:center;
  
}



.lead__image{
    margin: 64px auto 0px;
    max-width: 984px;
    width: 100%;

}

.lead__caption{
    font-weight: 400;
    font-size: 10px;  
    line-height: 1.4;
    letter-spacing: 1.5px;
    margin-top: 8px;
    margin-bottom: 0px;
    text-transform:uppercase;
} 

@media all and (min-width:1024px) and (max-width:1279px) {
    .lead{
    max-width: 928px;
    /* max-height: 962px; */
    padding: 48px 48px 0px 48px;
    }

    .lead__image{
        margin: 56px auto 0px;
        max-width: 984px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .lead{
    max-width: 768px;
    padding: 48px 0px 0px 0px;
  }

  .lead__image{
    margin: 56px auto 0px;
    max-width: 768px;
}

.lead__caption{
  padding-left: 24px;
}
}

@media screen and (min-width:320px) and (max-width:767px){
  .lead{
    min-width: 320px;
    padding: 48px 0px 0px 0px;
  }
  .lead__title{
    max-width: 288px;
    margin: auto;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
    text-align: center;
  }

  .lead__subtitle{
   
    max-width: 288px;
    margin: 16px auto 0px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align:center;
  }

  .lead__image{
    margin: 40px auto 0px;
    min-width: 320px;
  }
  
.lead__caption{
  padding-left: 16px;
}
}




.intro{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 1280px;
  width: 100%;
  color:#FFFFFF;
  padding-left: 148px;
  box-sizing: border-box;
  /* max-width: 690px; */
}

.intro__title{

  font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin:0px;
    margin-top: 92px;
}

.intro__text{ 
font-weight: 400;
max-width: 690px;
font-size: 16px;
line-height: 1.63;
margin: 40px 0px 0px 0px;
text-align: left;
}

.intro__list{
  padding-left: 0px;
  margin: 33px 0px 0px 0px;
  list-style: none;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
}

.intro__list-meaning{
  font-weight: 400;
}


@media screen and (min-width:1024px) and (max-width:1279px){
.intro{
  max-width: 1024px;
  padding-left: 48px;
  width: 100%;
}
.intro__text{
  min-width: 690px;
  text-align: left;

}

}

@media screen and (min-width:768px) and (max-width:1023px){
  .intro{
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
  }

  .intro__title{
      margin-top: 88px;
  }

  .intro__text{
    max-width: 720px;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro{
    max-width: 320px;
    padding:0;
    width: 100%;
  }

  .intro__title{
      
    font-weight: 900;
      font-size: 32px;
      line-height: 1.09;
      margin:0px;
      margin-top: 64px;
      padding-left: 16px;
      padding-right: 16px;
      text-align: left;
  }

  .intro__text{
    max-width: 520px;
    font-size: 16px;
    line-height: 1.63;
    margin: 40px 0px 0px 0px;
    padding-left: 16px;
    padding-right: 16px;
    }

    .intro__list{
      padding-left: 0px;
      margin: 34px 0px 0px 0px;
      padding-left: 16px;
      padding-right: 16px;
    }

}

.photo-grid{
  max-width: 1184px;
  align-self: center;
  display: grid;
  gap: 16px 16px;
  list-style: none;
  list-style-type: none;
  grid-template-columns: repeat(4, minmax(284px, 1fr));
  /* grid-template-rows: repeat(auto-fit, max-content); */
  /* overflow: hidden; */
  margin:0px;
  padding: 92px 0px 0px 0px;
  
}


.photo-grid__item{
  max-width: 284px;
  max-height: 213px;
 height: 100%;
  /* overflow: hidden; */
  object-fit: cover;
}

@media screen and (min-width:1024px) and (max-width:1279px)  {
  .photo-grid{
    max-width: 928px;
    gap: 14px 14px;
    list-style: none;
    grid-template-columns: repeat(3, 300px);
    /* grid-template-rows: repeat(auto-fit, max-content); */
    overflow: hidden;
  }

  .photo-grid__item{
    max-width: 300px;
    max-height: 225px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .photo-grid{
    max-width: 720px;
    gap: 16px 16px;
    list-style: none;
    grid-template-columns: repeat(2, 352px);
    /* grid-template-rows: repeat(auto-fit, max-content); */
    overflow: hidden;
    padding: 88px 0px 0px 0px;
  }
  .photo-grid__item{
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (min-width: 320px) and (max-width:767px){
  .photo-grid{
    max-width: 320px;
    gap: 12px 12px;
    list-style: none;
    grid-template-columns: 288px;
    /* grid-template-rows: repeat(auto-fit, max-content); */
    overflow: hidden;
    padding: 64px 0px 0px 0px;
  }

  .photo-grid__item{
    max-width: 288px;
    max-height: 216px;
  }

}

.places{
  display: flex;
  flex-direction: column;
  max-width: 984px;
  align-self: center;
  color: white;
  list-style: none;
  margin:0px;
  padding:0px;
  padding-bottom: 92px;
  
}
.place{
  display: grid;
  gap: 48px 40px;
  grid-template-columns: repeat(2,minmax(min-content, max-content));
  grid-template-areas:
  "title url"
  "img text" ; 
  margin-top: 80px;
}
.place:first-child{
  margin-top: 92px;
}


.place__text{
  grid-area:text;
  max-width: 484px;
  display: flex;
  flex-direction: column;
  padding: 0px;
}


.place__paragraph{
  margin:0px;
  padding-top:0px;
  padding-bottom: 26px;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
}
.place__paragraph:last-child{
  padding-bottom: 0px;
}



.place__title{
  grid-area: title;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  max-width: 460px;
  margin:0px;
  
}

.place__title_cut{
  grid-area: title;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  max-width: 460px;
  margin:0px; 
}

.place__website{
  grid-area: url;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.website__url-heading{
   color:#AAAAAA;
   font-size: 12px;
   line-height: 1;
   letter-spacing: 2px;
   font-weight: 400;
   padding-bottom: 12px;
}


.website__link{
  color:#FFFFFF;
  font-size: 18px;
  line-height:1.22;
  
}

.place__image{
  grid-area: img;
  max-width: 460px;
  max-height: 460px;
  width: 100%;
}


.place__website{
  list-style: none;
  padding-left: 0px;
}

@media screen and (min-width:1024px) and (max-width:1279px) {
  .place{
    gap: 48px 32px;
  }
  .place__image{
    max-width: 440px;
    max-height: 440px;
    
  }
  .places{
    max-width: 928px;
  }
  .place__title{
    max-width: 440px;
  }
  .place__title_cut{
    max-width: 440px;
  }
  .place__text{
    max-width: 456px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px){

  .places{
    padding-bottom: 90px;
    max-width: 720px;
  }
  .place{
    gap: 48px 28px;
    margin-top: 73px;
  }

  .place:first-child{
    margin-top: 88px;
  }
  .place:last-child{
    margin-top: 70px;
  }


  .place__image{
    max-width: 340px;
    max-height: 340px;
  }
 
  .place__title{
    max-width: 288px;
    
    font-size: 42px;
    font-weight: 900;
    line-height: 1.09;
  }
  .place__title_cut{
    max-width: 310px;
    margin: 0;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.09;
  }
 
  .place__text{
    max-width: 352px;
  }
  .place__paragraph{
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 1.63;
    font-weight: 400;
  }
 
}

@media screen and (min-width:320px) and (max-width:767px){
  .places{
    padding-bottom: 66px;
    max-width: 320px;
  }

.place{
  display: grid;
  gap:32px 0px;
  grid-template-columns: repeat(2,minmax(min-content, max-content));
  grid-template-areas:
  "title"
  "url"
  "img"
  "text";
  margin-top: 48px;
}

.place:first-child{
  margin-top: 64px;
}


.place__image{
  min-width: 320px;
  min-height: 320px;
}

.place__title_cut{
  min-width: 288px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.09;
  margin: 0px;
  margin-left: 16px;
}
.place__title{
  min-width: 288px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.09;
  margin-left: 16px;
 
}


.place__website{
  margin-left:16px;
}

.place__paragraph{
  padding-bottom: 25px;
  max-width: 288px;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;
  margin-left: 16px;
}

}


.cover {
max-width: 1184px;
width: 100%;
min-height: 740px;
background-image:url(./Images/__background.svg);
position: relative;
background-size: cover; 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #FFFFFF;
}



.cover::before{
  content: "";
  background-color: rgba(42,44,47, 0.4);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

.cover:hover::before{
  background-color: rgba(42,44,47);
  opacity: 0.8;
}



.cover__title{
max-width: 560px;
font-size: 72px;
line-height: 1.06;
font-weight: 900;
position: relative;
margin: 0px;
text-align: center;
color: white;
text-decoration: none;
}

.cover__title:visited{
  color: white;
}

.cover__subtitle{
max-width: 360px;
font-size: 18px;
line-height: 1.22;
font-weight: 400;
position: relative;
margin: 0px;
margin-top: 32px;
text-align: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .cover {
 max-width: 1024px;
 min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .cover {
    min-width: 768px;
    min-height: 480px;
     }
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .cover {
    min-width: 320px;
    min-height: 200px;
     }

  .cover__title{
   max-width: 288px;
   font-size: 32px;
   line-height: 1.09;
   font-weight: 900;
  }
  .cover__subtitle{
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
    margin-top: 16px;
    text-align: center;
  }

}



.footer{
  display: flex; 
  min-width: 1184px;
  align-self: center;
  justify-content: space-between;
}


.footer__links{
  list-style:none;
  display: flex;
  justify-content: flex-start;
  gap: 18px;
  margin: 92px 0px 24px;
  padding: 0px;
  
}

.footer__link{
  color: white;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.13;
  font-size: 16px;
}

.footer__link:visited{
  color: white;
}

.footer__copyright{
  color: white;
  margin: 92px 0px 24px;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.13;
  text-align: right;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .footer{
    min-width: 928px;
  }
 
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .footer{
    min-width: 720px;
  }
  .footer__links{
    margin: 88px 0px 24px;
  }
  
  .footer__copyright{
    margin: 88px 0px 24px;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px){
  .footer{
    min-width: 320px;
    flex-direction: column;
  }

  .footer__links{
    max-width: 186px;
    list-style:none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    margin: 64px 0px 0px 16px;
    padding: 0px;
  }

  .footer__link{
  line-height: 1;
  font-size: 24px;
}

.footer__copyright{
  margin: 48px 0px 24px 16px;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  max-width: 186px;
  text-align: left;
  
}

}